cat << 'EOF' > ~/Desktop/TARS.desktop
[Desktop Entry]
Type=Application
Name=TARS Robot
Comment=Start TARS Voice & Vision Assistant
Exec=PUT/PROJECT'S/DIRECTORY/HERE
Icon=utilities-terminal
Terminal=true
Categories=Development;
EOF

chmod +x ~/Desktop/TARS.desktop
